<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/admin/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
</head>
<body>

<div class="aaa_pts_show_1">【 地址管理 】</div>

<div class="aaa_pts_show_2">

      <table class="pro_3">
         <tr class="tr_1">
           <td style="width:40px;">ID</td>
           <td style="width:120px;">收货人</td>
           <td style="width:120px;">手机号码</td>
           <td>详细地址</td>
           <td style="width:120px;">邮政编码</td>
           <td style="width:180px;">操作</td>
         </tr>
         <tbody id="news_option">
         <!-- 遍历 -->
         <volist name="address" id="v" empty="没有数据">
           <tr data-id="{$v.id}" data-name="{$v.name}">
    		       <td>{$v.id}</td>
               <td>{$v.name}</td>
               <td>{$v.tel}</td>
               <td>{$v.address_xq}</td>
               <td>{$v.code}</td>
               <td><a onclick="del_id_url({$v.id})">删除</a></td>
    	     </tr>
         </volist>
         <!-- 遍历 -->
         </tbody>
      </table>
    </div>
    
</div>
</body>
</html>