@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0;}
img,input{border:none; display: block;}
input{border:1px solid red;}
ul, li, ol{list-style: none;}
body, html {width: 100%; height: 100%; overflow-x: hidden;font-family: HeitiJ-Light,"SimSun","宋体","Arial Narrow",HELVETICA; font-size: 9pt;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
.place{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}
.formbody{padding:10px 18px;}
.formtitle,.formtitle1{border-bottom:solid 1px #d0dee5; line-height:35px; position:relative; height:35px; margin-bottom:28px;}
.formtitle1{margin-bottom:15px;}
.formtitle span,.formtitle1 span{font-weight:bold;font-size:14px; border-bottom:solid 3px #66c9f3;float:left; position:absolute; z-index:100; bottom:-1px; padding:0 3px; height:30px; line-height:30px;}
.forminfo{padding-left:23px;}
.forminfo li{margin-bottom:13px; clear:both;}
.forminfo li label{width:120px;line-height:34px; display:block; float:left;}
.forminfo li label.w150{width:150px;line-height:34px; display:block; float:left;}
.forminfo li i{color:#7f7f7f; padding-left:20px; font-style:normal;}
.forminfo li cite{display:block; padding-top:10px;}
.dfinput{width:345px; height:32px; line-height:32px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}


a{text-decoration:none;}
.king_ie_box {box-sizing: border-box; -moz-box-sizing: border-box;}
.king_clear {clear: both;}
#king_wrap {width: 100%; min-height: 500px; background: #fff; padding: 20px 20px 20px 20px;}
#king_wrap label {float: left; width: 90px; text-align: left;height:32px;line-height: 32px; font-size: 14px;}
form {margin-top: 20px;}
.king_bottom {margin-bottom: 20px;}

#king_mubanN, #king_address{float: left; margin-left: 10px; /*width: 720px;*/}
/*#king_mubanN input {font-size: 12px; width: 206px; height: 20px;  padding: 4px 6px; border: 1px solid #ccc; background: #fff; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; outline: none;}*/
#king_mubanN p {display: none; margin-top: 10px; color: #f00; line-height: 14px; font-size: 12px; margin-left: 6px;}

.freight-template-table {width: 100%; text-align: center; border: 1px solid #e5e5e5; margin-bottom: 10px; border-collapse: collapse; border-spacing: 0;}
.freight-template-title {font-size: 12px; line-height: 12px; background: #f6f6f6; font-weight: normal;}
.freight-template-table tr {border-bottom: 1px solid #e5e5e5;}
.freight-template-table td {padding: 10px 15px;}
th {padding: 10px 15px; font-weight: normal; width: 67px;}
.freight-template-table thead tr>th:first-child {/*width: 300px;*/ text-align: left;}
.freight-template-table tbody tr td:first-child {border-right: 1px solid #e5e5e5; width: 300px; text-align: left;}
.cost-input {text-align: center; width: 60px; font-size: 12px; background: #fff; border: 1px solid #ccc; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; height: 20px; padding: 4px 6px; line-height: 20px; color: #555;}
.king_address {float: left; width: 500px; font-size: 10px; line-height: 18px;}
.pull-right {float: right;}
.pull-right a {display: inline-block;}
.pull-right a:nth-child(2) {margin-left: 3px;}
.freight-template-table tfoot {text-align: left;}
tfoot tr td {text-align: left; padding: 10px 15px; }
.king_button {margin-left: 130px;}
.king_btn {border: 1px solid #006cc0; color: #fff; background: #07d;}
.king_btn, .king_back {display: inline-block; width: 90px; height: 30px; padding: 4px 12px; font-size: 12px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.king_back {color: #333; border: 1px solid #ddd; background: #f8f8f8; text-align: center; line-height: 20px; margin-left: 5px;}
#king_warm {display: none;color: #fff; position: absolute; text-align: center; width: 460px;height: 50px;line-height: 50px;font-size: 16px;font-weight: bold; top: 20px; left: 400px;background: #f00;}
/* 遮罩层 */
#boxWrap {display: none; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; background: rgba(0, 0, 0, 0.6); z-index: 1000;}
.area-modal {width: 690px; height: 535px; border: 1px solid #e5e5e5; position: absolute; left: 50%; top: 50%; margin-top: -264px; margin-left: -345px; background: #fff;}
.area-modal-head {padding: 15px 10px; background: #f6f6f6;font-size: 14px; line-height: 14px; border-bottom: 1px solid #e5e5e5;}
.area-modal-body {width: 100%; min-height: 200px;}
.area-editor-wrap {width: 560px; padding: 30px 0px; margin: 0 auto;}
.area-editor-column {float: left; width: 200px; height: 375px; border: 1px solid #e5e5e5;}
.area-editor-head {margin: 0; text-align: center; font-size: 14px; padding: 10px 0px; font-weight: normal; background: #f6f6f6; border-bottom: 1px solid #e5e5e5;}
.area-editor-list {height: 314px; margin: 10px; overflow: auto;}
.area-editor-list li {padding-left: 20px; height: 30px; line-height: 30px; font-size: 12px; cursor: pointer;}
.area-editor-list .area-editor-selete {background: #d7d7d7;}
.area-editor-list .remove-btn {display: block; float:right; width: 15px; height: 15px; -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%; background: #d7d7d7; color: #fff; line-height: 18px; text-align: center; text-indent: 0; margin-top: 7px; cursor: pointer; font-weight: 900;}
.area-editor-addBtn {margin: 150px 0 0 35px;}
.area-editor-used {float: right;}
#king_sure2 {display: none;}
/* 删除确认框 */
#king_delete_warm {display: none; width: 285px; height: 148px; position: absolute; top: 50%; left: 50%; margin-top: -74px; margin-left: -142px; background: #fff; padding: 10px 20px; z-index: 10; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; color: #333; border: 1px solid #ccc;}
.king_warm_word {height: 95px; line-height: 85px; text-align: left; font-size: 14px; padding-left: 20px;}
.king_warm_btns {text-align: right;}
.area-modal-foot {padding: 15px 10px; background: #f6f6f6; border: 1px solid #e5e5e5; text-align: center;}
.btn {padding: 4px 12px; font-size: 14px; color: #333; vertical-align: middle; margin-bottom: 0px; cursor: pointer; background: #f8f8f8; border: 1px solid #ddd; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.btn-primary {font-size: 12px; color: #fff; background: #07d; border-color: #006cc9;}
.btn-default {font-size: 12px;}
