<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/admin/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
</head>
<body>

<div class="aaa_pts_show_1">【 店铺分类管理 】</div>

<div class="aaa_pts_show_2">
    
    <div>
       <div class="aaa_pts_4"><a href="{:U('index')}">全部分类</a></div>
       <div class="aaa_pts_4"><a href="{:U('add')}">添加分类</a></div>
    </div>
    <div class="aaa_pts_3">
      
      <div class="pro_4 bord_1">
         <div class="pro_5">品牌名称：<input type="text" class="inp_1 inp_6" id="name" value="<?php echo $name;?>"></div>
         <div class="pro_6"><input type="button" class="aaa_pts_web_3" value="搜 索" style="margin:0;" onclick="product_option(0);"></div>
      </div>
      
      <table class="pro_3">
         <tr class="tr_1">
           <td style="width:120px;">ID</td>
           <td>分类名称</td>
           <td style="width:250px;">操作</td>
         </tr>
         <tbody id="news_option">
          <volist name='list' id="b">
         <tr>
		      <td>{$b.id}</td>
          <td>{$b.name}</td>
          <td class="obj_1">
		        <a href="{:U('add')}?id={$b.id}" >修改</a>
			  | <a onclick="del_id_url2({$b.id})">删除</a>
		   </td>
	    </tr>
    </volist>
         </tbody>
         <tr>
            <td colspan="10" class="td_2">
                 {$page}  
             </td>
         </tr>
      </table>      
    </div>
    
</div>
<script>
function product_option(page){
  var brand_name = $('#name').val();
  location="{:U('index')}?brand_name="+brand_name; 
}

function del_id_url2(id){
   if(confirm("确认删除吗？"))
   {
	  location='{:U("del")}?did='+id;
   }
}

</script>
</body>
</html>